.preferences {
    position: relative;
}

.preferences .close-button {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

.preferences .layout {
    text-align: center;
}

.preferences .border {
    border-radius: 5px;
}
.close-button:hover {
    font-weight: 600;
}

.tabsnav {
    background: transparent;
    padding-bottom: 15px;
    align-items: center;;
}
