.flex {
  display: flex;
}

.items-center {
  justify-items: center;
}
.content-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between
}

.justify-left {
  justify-content: left;
}

.justify-right {
  justify-content: right;
}

.expiration {
  border: 5px solid #bbbbbb;
}
.expiration input {
  border: 1;
}

.smaller-input {
  font-size: 12px;
  padding: 2px 5px;
}